@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap') ;
* {
margin : 0;
padding : 0;
border : none;
}
body {
font-family : Lato;
color : #3a3a3a;
}
h1, h2 {
font-family : Oswald, sans-serif;
text-transform : uppercase;
letter-spacing : 4px;
color : #252525;
}
@keyframes hero-zoom {
to {
transform : scale(1.1);
}
}
#cover-text {
font-size : 130%;
font-family : Oswald, sans-serif;
text-transform : uppercase;
letter-spacing : 4px;
width : 300px;
height : 200px;
padding-top : 40px;
padding-left : 10%;
background-color : rgb(241, 109, 107, 0.7);
position : absolute;
}
#club-ethos {
height : 600px;
}
#left-about {
padding-top : 30px;
width : 33%;
float : left;
}
#RIGHT-about {
padding-top : 30px;
width : 33%;
float : right;
background-color : silver;
}
#center-about {
width : 33%;
margin : 0 auto;

}
.left-about-heading {
width : 60%;
float : right;
clear : both;
margin-bottom : 50px;
}
.right-about-heading {
width : 60%;
float : left;
clear : both;
margin-bottom : 50px;
}
.right-about-heading h2 {
text-align : right;
}
hr {
border-top : 1px solid #3a3a3a;
width : 100%;
margin : 5px 0;
}
#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%
}

#circle-container {
    width:300px;
    height:300px;
    padding:30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg) no-repeat center center
}